$red: #e31b4b;

.recovery {
  width: 100%;
  padding: 110px 0;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  & > .container {
    display: flex;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 316px;

    &--title {
      color: #181818;
      font: 700 20px/24px 'Inter';
      margin-bottom: 16px;
    }
    &--description {
      font: 400 14px/150% 'Inter';
      color: #98949e;
      margin-bottom: 24px;
    }
    &--item {
      background: white;
      border: 1px solid #f7f1fe;
      border-radius: 12px;
      width: 316px;
      height: 45px;
      padding: 12px 16px;
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 5px;

      &.err {
        border: 1px solid $red;
      }
    }
    &--input {
      width: 100%;
      &::placeholder {
        font: 400 15px/150% 'Inter';
        color: #98949e;
      }
    }
    &--error {
      color: $red;
      padding: 0;
      margin: 0 0 -3px 10px;
      font: 700 12px/24px 'Inter';

      &.confirm-err {
        margin: 0 0 5px 10px;
      }
    }
    &--btn {
      margin-top: 8px;
    }
  }
}
