#aboutUS{
    .aboutUS__title{
        font: 700 24px/29px "Inter";
        color: #181818;
        margin-bottom: 7px;
    }
    .aboutUS__information{
        font: 400 14px/150% "Inter";
        color: #181818;
    }
}
