.address {
    width: 100%;
    color: #171717;
    font: 15px/150% "Inter";

    .terms__title {
        font-weight: 600;
        margin-bottom: 16px;
    }

    .terms__descr {
        font-weight: 400;

    }
}
